<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Over-Booked</title>
    <link rel="shortcut icon" href="#" />
    <title>Over Booked</title>
    {{! <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@1.x/dist/tailwind.min.css"
      rel="text/css"
    /> }}
    <link rel="text/css" href="/public/css/dist/output.css" />
    <link rel="shortcut icon" href="#" />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          <span role="img" aria-label="book">📚</span>
          <a href="/">Welcome to Over-Booked!</a>
        </h1>
        <nav>

          <a href="/login">Login</a>

        </nav>
      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}

      </main>
      <footer>

      </footer>
    </div>
  </body>

</html>