{{!-- <div class="button">
  <button class="btn btn-primary">Bookshelf</button>
</div>

{{! Create list of book titles saved in bookshelf from bookshelf array }}
<div class="bookshelf">
  <h2>Bookshelf</h2>
  <ul>
    {{#each bookshelf as |book|}}
      <li>{{book.Title}}</li>
    {{/each}}
  </ul>
</div> --}}