{{!-- {{#if logged_in}}
  <div class="card">
    <h4 class="card-header">Comments</h4>
    <div class="card-body">
      <form class="form" id="comment-form">
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea
            class="form-control"
            name="comment"
            id="comment"
            cols="30"
            rows="5"
          ></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
{{/if}}
{{! display comments }}
<div class="card">
  <h4 class="card-header">Comments</h4>
  <div class="card-body">
    {{#each comments}}
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text">{{comment}}</p>
          <p class="card-text">Written by
            {{user.username}}
            on
            {{format_date createdAt}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div> --}}