{{! Create list of book titles saved in bookshelf from bookshelf array }}
<div class="bookshelf grid place-items-center h-screen">
  <button id="render-bs" type="submit" class="btn btn-primary">View Bookshelf</button>
  <div id="bookshelf-list" class=""></div>
</div>

{{! <script src="./js/logout.js"></script> }}
<script type="module" src="./js/profile.js"></script>