<nav>
  <a href="/search" class="block px-4 py-2 text-base" id="searchBooks">Search
    for Books!</a>
  |
  <a href="#" class="block px-4 py-2 text-base" id="logout">Logout</a>

</nav>

<section class="row">
  <div class="col-auto">
    <h2>Greetings!</h2>
  </div>
</section>

<section class="row">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkGcC44uqDZC_3f0MWkQNBrZu3XyfqioPh8TesmKhr1dEOWJYs&s"
    alt="bookworm"
    class="center"
    width="600"
    height="600"
  />
</section>

{{! Create list of book titles saved in bookshelf from bookshelf array }}
<div class="bookshelf">
  <button id="render-bs" type="submit" class="btn btn-primary">View Bookshelf</button>
  <div id="bookshelf-list"></div>
</div>

<script type="module" src="/js/logout.js"></script>
<script type="module" src="./js/profile.js"></script>