<nav>
  <a href="/search">Search for Books!</a>

  <a href="#" id="logout">logout</a>

</nav>

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

{{! Create list of book titles saved in bookshelf from bookshelf array }}
<div class="bookshelf">
  <button id="render-bs" type="submit" class="btn btn-primary">View Bookshelf</button>
  <div id="bookshelf-list"></div>
</div>

<script type="module" src="/js/logout.js"></script>
<script type="module" src="./js/profile.js"></script>